.details-card-container {
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 25px 10px #f6f4fd;
  border-radius: 2px;
  margin-bottom: 134px;
  margin-top: 131px;
}

.details-card__image-container {
  display: flex;
  padding: 13px 0px 9px 13px;
}
.details-card__info-container {
  padding-left: 44px;
}
.details-card__first-container-image {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 21px;
}
.info-container__name {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 36px;
  color: #0d134e;
  margin-bottom: 13px;
}
.info-container__rating-container {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}
.shop-card__quantity {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-transform: capitalize;
  color: #151875;
}
.info-container__praces {
  display: flex;
  margin-bottom: 12px;
}
.info-container__current-price {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: capitalize;
  color: #151875;
  margin-right: 18px;
}
.info-container__old-price {
  font-family: "Josefin Sans";
  font-weight: 400;
  font-size: 16px;
  text-decoration-line: line-through;
  text-transform: capitalize;
  color: #fb2e86;
}
.info-container__color {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #0d134e;
  margin-bottom: 12px;
}
.info-container__text {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #a9acc6;
  margin-bottom: 34px;
}
.info-container__actions {
  display: flex;
  align-items: center;
  margin-left: 41px;
  margin-bottom: 17px;
}
.info-container__action-text {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: capitalize;
  color: #151875;
  margin-right: 26px;
}
.info-container__action-text:hover {
  color: #ff2aaa;
}
.info-container__action-icon {
  height: 30px;
  width: 30px;
  background: transparent;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 50%;
}
.info-container__action-icon:hover {
  background: #eeeffb;
  cursor: pointer;
}
.info-container__details-container {
  display: flex;
}
.info-container__details-container .info-container__details {
  margin-right: 15px;
}

.info-container__details:nth-child(7),
.info-container__details:nth-child(8),
.info-container__details-container:nth-child(9) {
  margin-bottom: 10px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #151875;
}

.additional-info__container {
  background: #f9f8fe;
  padding: 106px 0px 125px 0px;
}

.additional-info__menu {
  display: flex;
  margin-bottom: 61px;
}
.additional-info__link {
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  color: #151875;
}
.additional-info__item {
  margin-right: 85px;
}
.additional-info__item.selected .additional-info__link::after,
.additional-info__item:hover .additional-info__link::after {
  content: "";
  width: 100%;
  height: 1px;
  display: block;
  background-color: #151875;
}
.additional-info__name {
  font-family: "Josefin Sans", sans-serif;
  font-size: 22px;
  color: #151875;
  margin-bottom: 15px;
}
.additional-info__text {
  font-family: "Josefin Sans";
  font-size: 18px;
  color: #a9acc6;
  line-height: 29px;
  text-align: justify;
}
.additional-info__image-container {
  margin-right: 12px;
}
.additional-info__block {
  display: flex;
  align-items: center;
}
.additional-info__text:nth-child(3) {
  margin-bottom: 36px;
}
.related-productcs {
  padding-top: 123px;
  padding-bottom: 128px;
}
.related-productcs__title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 36px;
  color: #101750;
  margin-bottom: 47px;
}
.relared-products__card-container {
  display: flex;
}
.related-products__card:not(:last-child) {
  margin-right: 28px;
}
.related-products__card:nth-child(2) .releteds-card__image {
  background: url(./assets/image/rb2.png);
}
.related-products__card:nth-child(3) .releteds-card__image {
  background: url(./assets/image/rb3.png);
}
.related-products__card:nth-child(4) .releteds-card__image {
  background: url(./assets/image/rb4.png);
}
.releteds-card__image {
  background: url(./assets/image/rb1.png);
  background-size: cover;
  width: 270px;
  height: 340px;
  border-radius: 3px;
}

.releteds-card__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.releteds-card__name {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  color: #151875;
  font-weight: 550;
}
.releteds-card__rating {
  display: flex;
}
.shop-card__rating {
}
.relepriceteds-card__price {
  font-family: "Josefin Sans", sans-serif;
  font-size: 13px;
  color: #151875;
  margin-top: 15px;
}
.shopping-curt__container {
  display: flex;
}
.shopping-curt {
  padding-bottom: 40px;
}
.shopping-curt__names {
  display: flex;
  padding-bottom: 24px;
}
.shopping-curt__name {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  color: #1d3178;
}
.shopping-curt__name:nth-child(1),
.shopping-curt__name:nth-child(4) {
  margin-right: 226px;
}
.shopping-curt__name:nth-child(2) {
  margin-right: 104px;
}
.shopping-curt__name:nth-child(3) {
  margin-right: 122px;
}
.shopping-curt__card {
  display: flex;
  align-items: center;
  padding-top: 24px;
}
/* .shopping-curt__card::after {
  content: "";
  content: "";
  width: 100%;
  height: 1px;
  display: block;
  background-color: #e1e1e4;
} */
.curt-card__image-container {
  position: relative;
}
.curt-card__icon {
  position: absolute;
  top: -4px;
  right: -3px;
}
.curt-card__info {
  margin-left: 17px;
}
.curt-card__image-name {
  font-family: "Josefin Sans", serif;
  font-size: 14px;
  color: black;
  font-weight: 600;
}
.curt-card__color {
  font-family: "Josefin Sans", sans-serif;
  font-size: 12px;
  color: #a1a8c1;
}
.curt-card__size {
  font-family: "Josefin Sans", sans-serif;
  font-size: 12px;
  color: #a1a8c1;
}
.curt-card__price {
  margin-left: 89px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  color: #15245e;
}
.curt-card__quantity {
  display: flex;
  align-items: center;
  margin-left: 125px;
  width: 60px;
  height: 15px;
}
.curt-card__plus {
  position: relative;
}
.curt-card__image-plus {
  position: absolute;
  top: 4px;
  left: 3px;
}
.curt-card__minus {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15px;
  width: 12px;
  background: #f0eff2;
  padding-left: 4px;
}
.curt-card__number {
  font-family: "Josefin Sans";
  font-size: 12px;
  background: #f0eff2;
  color: #bebfc2;
  padding-left: 10px;
  padding-right: 14px;
  height: 15px;
  width: 12px;
}
.curt-card__plus {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15px;
  width: 12px;
  background: #f0eff2;
  margin-right: 140px;
  padding-right: 4px;
}
.curt-card__total-price {
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  color: #15245e;
}
.curt-card__line {
  width: 718px;
  height: 1px;
  display: block;
  background-color: #e1e1e4;
  margin-top: 15px;
}
.shopping-curt__totals-container {
  margin-left: 95px;
}
.shopping-curt__totals {
  height: 284px;
  width: 371px;
  border-radius: 3px;
  background: #f4f4fc;
  margin-top: 42px;
  padding: 34px 31px 32px 29px;
}
.curt-totals {
}
.curt-totals__totals {
  display: flex;
  justify-content: space-between;
}
/* .curt-totals__totals::after {
  content: "";
  width: 100%;
  height: 1px;
  display: block;
  background-color: #e1e1e4;
} */
.curt-card__line-totals {
  width: 100%;
  height: 2px;
  display: block;
  background-color: #e8e6f1;
  margin-top: 13px;
}

.curt-totals__subtotals {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #1d3178;
}
.curt-totals__subtotals-summary {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #15245e;
}

.curt-totals__totals {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #1d3178;
}
.curt-totals__totals:not(:first-child) {
  margin-top: 34px;
}
.curt-totals__totals-summary {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #15245e;
}
.curt-totals__text {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #8a91ab;
}
.curt-totals__button {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  background: #19d16f;
  border-radius: 3px;
  padding: 11px 80px;
  height: 40px;
  width: 312px;
  margin-top: 35px;
  cursor: pointer;
}
.curt-card__label .curt-card__label-text {
  position: relative;
  display: flex;
  align-items: center;
}
.curt-card__label .curt-card__label-icon {
  display: flex;
  align-items: center;
}
.curt-card__input {
  opacity: 0;
  width: 0px;
  height: 0px;
}
.curt-card__label .curt-card__label-text::before {
  content: "";
  display: block;
  position: relative;
  left: 0;
  top: 0;
  width: 12px;
  height: 12px;
  background: #a59fc1;
  border-radius: 3px;
  margin-right: 7px;
}
.curt-card__label .curt-card__label-text::after {
  content: "";
  display: none;
  position: absolute;
  left: 0;
  top: 50;
  width: 12px;
  height: 12px;
  background: url(./assets/icons/vector-blue.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 3px;
}
.curt-card__label .curt-card__label-icon {
  position: absolute;
  left: 0;
  top: 0;
}

.curt-card__input:checked + .curt-card__label-text::after {
  display: block;
  background-color: #19d16f;
}
/* .curt-card__label .curt-card__input:checked {
  background: #19d16f;
} */
.curt-card__label-text {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #8a91ab;
}
.shopping-curt__title {
  text-align: center;
  margin-top: 38px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  color: #1d3178;
  margin-bottom: 26px;
}
.shopping-curt__calculate {
  height: 284px;
  width: 371px;
  border-radius: 3px;
  background: #f4f4fc;
  padding: 30px 32px 21px 32px;
}
.curt-calculate__city-from {
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  color: #c5cbe3;
}
.curt-calculate__line {
  width: 100%;
  height: 2px;
  display: block;
  background-color: #e8e6f1;
  margin-top: 13px;
}
.curt-calculate__line:not(:last-of-type) {
  margin-bottom: 38px;
}
.curt-calculate__city-to {
  font-family: "Josefin Sans";
  font-size: 14px;
  line-height: 16px;
  color: #c5cbe3;
}
.curt-calculate__code {
  font-family: "Josefin Sans";
  font-size: 14px;
  color: #c5cbe3;
}
.curt-calculate__button {
  padding: 13px 24px;
  margin-top: 20px;
  cursor: pointer;
}
.shopping-curt__buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 37px;
}
.shopping-curt__update-button {
  padding: 12px 20px;
}
.shopping-curt__clear-button {
  padding: 12px 20px;
}
